<!DOCTYPE html>
<html>
    <head>
        <title>fcc-ImageSearch</title>
        <meta charset="utf-8">
  	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	    <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>

    <body>
        <a href="https://github.com/KyoZeus/fcc-ImageSearch" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

        <div class="container">
            <h1>fcc-ImageSearch</h1>
            <hr>
            <h4>User stories:</h4>

            <ul>
              <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
              <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
              <li>I can get a list of the most recently submitted search strings.</li>
            </ul>

            <h5>Example creation usage:</h5>
            <code></code>

            <hr>
            <h2>Source</h2>
            Fork me at <a href="https://github.com/KyoZeus/fcc-ImageSearch" target="_blank">Github <i class="fa fa-github fa-2x"></i></a>

            <hr>
            <h2>License</h2>
            MIT License. <a href="/LICENSE/" target="_blank">Click here for more information.</a>
        </div>
    </body>
</html>
